@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
}
html{
    scroll-behavior:smooth ;
}
body{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    position: relative;
    background-color: #03051c;
}

header{
    background-color: #03051c;
    height: calc(100vh - 180px) ;
    margin-top: 54px;
}
.nav_bar{
    display: flex;
    width: 100vw;
    background-color: #1c1d32;
    height: 42px;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    padding-bottom: 8px;
    position: fixed;
    top: 0;
    z-index: 3;
}
.logo{
    margin-left: 10px;
}
.nav_bar > ul{
    background-color:transparent;
    position: fixed;
    top:54px;
    width: 100vw;
    left: 0;
    height: 100vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 10vh;
    padding-top: 15vh;
    overflow: scroll;
    backdrop-filter: blur(10px);
    left: 100%;
    transition: left 0.3s;
}
.nav_bar .visible{
    left: 0%;
}
.nav_bar > ul >li > a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
}
.nav_bar > ul >li > a:hover{
    color: #22a5b3;
    font-size: 1.4rem;
}
nav > a{
    color:  white;
    height: 100%;
    font-size: .8rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}

nav > a > span:first-child{
    color: #22a5b3;
    font-size: 1.8rem;
    font-weight: 900;
}
.hamburguer{
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 7px;
}
.hamburguer:active{
    background-color: #03051c;
}
.nav_bar > button > img{
    max-width: 40px;
    max-height: 30px;
    padding-right: 16px;
}

.inicio{
display: flex;
flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    row-gap: 20px;
}
.photo{
    position: absolute;
    height: 40vh;
    width: 80vw;
    z-index: -0;
    top: 45px;
    margin-left: 7vw;
    margin-top: 5vh;
}
.photo > img{
    width: 80%;
    max-width: 248px;
}
.name{
    color: white;
    background-color:#03051c;
    height: calc(60vh - 50px);
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}
.name h1{
    font-weight: 900;
    border-left: #22a5b3 solid 3px;
    padding-left: 5px;
    margin-top: 5vh;
    z-index: 2;
}
.name h2{
    color: #22a5b3;
    font-size: 1.4rem;
    font-weight: 600;
    position: relative;
    width: 270px;
}
.name > h2 > span{
    position: absolute;
    right: 0;
    width: 0;
    background-color: #03051c;
    border-left: 1px solid #22a5b3;
    animation: maquina 5s infinite steps(20);
}
@keyframes maquina{
    from{
        width: 100%;    
    }
    to {
        width: 0;
    }
}

.sobre_mi{
    color: white;
    background-color:#03051c;
    height: max-content;
    width: 80vw;
    max-width: 830px;
    text-align:left;
    margin-top: 20px;
    border-left:solid #22a5b3;
    padding-left: 5px;
    grid-template-rows: 3/3;
}
.me_skills > div img{
    max-width: 70px;
    max-height: 70px;
    padding-top: 10px;
}
.me{
    background-color: #03051c;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    padding-top: 30px;
    margin-top: 40px;
}
.me_skills{ 
    height: calc(100vh - 56px);
    color: #22a5b3;
    font-size: 1.5rem;
    display: grid;
    grid-template-rows: 10% 20% 20% 20% 20% 10%;
    grid-column: 2/3;
    justify-content: center;
}
.js{
    grid-row: 2;
    text-align: center;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 10px;
    font-weight: 900;
    height: 150px;
}
.html{
    grid-row: 3;
    text-align: center;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-top: 10px;
    font-weight: 900;
    gap: 10px;
    height: 150px;
}
.css{
    grid-row: 4;
    text-align: center;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-top: 10px;
    font-weight: 900;
    gap: 10px;
    height: 150px;
}
.react{
    grid-row: 5;
    text-align: center;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    font-weight: 900;
    height: 150px;
}

.me_proyects{
    height: auto;
    color: #22a5b3;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    grid-column: 2/3;
    justify-content:space-between;
    align-items: center;
    justify-content: center;
    gap: 3em;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: scroll;
    border-radius: 10px;
}
.me_proyects::-webkit-scrollbar {
    width: 0px;
}
.me_proyects > div{
    display: grid;
    align-items: flex-start;
    justify-content: start;
    width: 250px;
    height: 160px;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    background-color: #353649;
    animation: boxshadow 2s infinite alternate-reverse;
}
@keyframes boxshadow {
    0%{
        box-shadow:0px 3px 20px #03051c;
    }

    100%{
        box-shadow:0px 3px 20px rgb(109, 52, 173);
    }
}
/*    100%{
        box-shadow:0px 3px 15px rgb(87, 38, 142);
    }*/
.me_proyects > div > img{
    max-width: 150px;
    height: 100px;
    grid-column: 2;
    grid-row: 2;
    padding-left: 20px;
}

.p1, .p2, .p3, .p4, .p5, .p6{
    padding-bottom: 10px;
    gap: 10px;
    font-weight: 900;
    border-radius: 10px;
}

.p_section{
    grid-row: 2;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    row-gap: 15px;
}
.p_section > a, img{
    max-width: 40px;
    margin-left: 10px;
}
.me_proyects > div > h2{
    grid-column: 2;
    text-align:start;
    width: 200px;
    height: 100%;
    font-size: 1.2rem;
    padding-top: 5px;
    padding-left: 15px;
}
.contact{
    height: calc(100vh - 54px);
    padding-top: 20px;
    color: white;
    font-size: 1rem;
    display: grid;
    grid-template-rows: 5% 25% 25% 25% 20%;
    grid-column: 2/3;
    justify-content: center;
    align-self: flex-start;
    row-gap: 1.8em;
}

.button{
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 20px 50px;
    border: 3px solid #22a5b3;
    position: relative;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button::before,
.button::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: all .5s ease-in;
}

.button::before{
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}

.button::after{
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}

.button:hover::before,
.button:hover::after{
    width: calc(100% + 27px);
    height: calc(100% + 27px);
}

.icons-wrapper{
    display: flex;
    gap: 35px;
    margin-top: 150px;
}
.icon{
    display: inline-block;
    font-size: 60px;
    animation: float 2s ease-in-out infinite;
}
.ri-mail-send-line{
    color: #22a5b3;
}

.ri-github-fill{
    color: white;
    animation-delay: .5s;
}

.ri-whatsapp-line{
    color: #25d366;
    animation-delay: 1s;
}

@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}

@media screen and (min-width: 430px){

    .photo{
        margin-left: 15vw;
    }

    .me{
        padding-top: 56px;
    }

    .me_skills{ 
        grid-template-columns: 10% 37.5% 5% 37.5% 10%;
    }

    .js{
        grid-row: 2;
        grid-column: 2;
    }
    .html{
        grid-row: 3;
        grid-column: 4;
    }
    .css{
        grid-row: 4;
        grid-column: 2;
    }
    .react{
        grid-row: 5;
        grid-column: 4;
    }
}
@media screen and (min-width: 661px){
    .photo{
        margin-left: 30vw;
    }
    .name h1{
        font-size: 2rem;
    }
    .name h2{
        font-size: 1.8rem;
        width: 340px;
    }
    .sobre_mi{
        font-size: 1.1rem;
    }
    .me_proyects{
        padding: 20px 20px;
    }
    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        height: 400px;
    }
    .icons-wrapper{
        margin-top: 80px;
    }
}
@media screen and (min-width: 1024px){
    .photo{
        margin-left: 45vw;
    }
    .nav_bar > ul{
        top:0px;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 20px;
        backdrop-filter: none;
        position: static;
        padding-top: 0;
        padding-right: 50px;
        overflow: hidden;
    }
    .nav_bar > ul >li > a{
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 1.1rem;
    }
    .hamburguer{
        display: none;
    }
    .name h1{
        font-size: 4rem;
    }
    .name h2{
        font-size: 2.8rem;
        width: 520px;
    }
    .sobre_mi{
        font-size: 1.1rem;
    }
    .me_skills{ 
        grid-template-columns: 10% 20% 20% 20% 20% 10%;
        grid-template-rows: 10% 80% 10%;
        height: 30vh;
    }
    .js{
        grid-row: 2;
        grid-column: 2;
    }
    .html{
        grid-row: 2;
        grid-column: 3;
    }
    .css{
        grid-row: 2;
        grid-column: 4;
    }
    .react{
        grid-row: 2;
        grid-column: 5;
    }   
}
@media screen and (min-width: 1110px){
    .photo{
        top: 10vh;
        margin-left: 500px;
    }
    .inicio{
        margin-left: 10%;
        margin-right: 10%;
    }
}